:root{
    --brightPink: #FF4D80;
    --lightBlue: #6DD3CE;
    --green: #C8E9A0;
    --orange: #FB8B24;
    --black: #0B0A07;
    --lightblack: #1C1C1C;
    --yellow:#F9DC5C;
    --skinnyFont: 'Amatic SC', cursive;
    --boldFont: 'Alfa Slab One', cursive;
    --boldrFont: 'Fjalla One', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(109,211,206);
    background: linear-gradient(218deg, rgba(109,211,206,1) 0%, rgba(200,233,160,1) 50%, rgba(255,77,128,1) 100%);
    background-attachment: fixed;
}
h3{
    font-size: 30px;
    font-family: var(--boldrFont);
}
.center{
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    align-items: center;
}
.header{
   
    box-shadow: 0px 5px 10px 0px var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
   
}
.header img{
    height: 95%;
}
.headerButton{
    border: 2px solid var(--brightPink);
    border-radius: 5px;
    height: 50px;
    min-width: 120px;
    background-color: transparent;
    font-size: 25px;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    font-family: var(--skinnyFont);
    font-weight: bold;
}

.headerButton:hover{
    box-shadow: inset 0 0 0 2em var(--brightPink);
    color: white
}

.MapAndHours{
    width: min(70%,1300px);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}
.map{
   /*  border: 3px solid var(--lightBlue); */
    line-height: 0px;
    width: 50%;
    border-right: none;
}
iframe{
    width: 100%;
}

.titleDiv{
    text-align: center;
    width: 50%;
 }
 #clock{
    width: 30px;
    height: 30px;
 }
.hours{
    align-items: center;
    width: max(100%,365px);
   display: flex;
    justify-content: space-around;
  /*   border: 3px solid var(--lightBlue); */
    border-left: none;
}
.hours li{
    list-style: none;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--skinnyFont);
}
.pictureAndDetails{
    width: min(70%,1300px);
    display: flex;
}
.connectWithUs{
    width: 50%;
}
#icecreamImage{
    width: 50%;
}
.socials{
    display: flex;
    flex-direction: column;
    font-family: var(--skinnyFont);
    font-size: 35px;
    font-weight: bold;
}

.fa{
    min-width: 50px;
    max-width: 50px;
    height: 55px;
    padding: 20px;
    padding-top: 17px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.fa-twitter{
    background: rgb(0, 195, 255);
}
.fa-facebook{
    background: rgb(2, 80, 226);
}
.fa-instagram{
    background: rgb(255, 0, 200);
}
.fa:hover{
    opacity: 0.7;
}
.fa::before{
    font-size: 60px;
}
.phone{
    width: 90px;
    height: 83px;
    background-color: rgba(255, 255, 0, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone img{
   
    width: 90px;
    height: 90px;
}
.email{

    width: 90px;
    height: 83px;
    background-color: rgba(135, 26, 224, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
}
.email img{
    height: 80px;
}

.instaPosts{
    display: flex;
    height: 700px;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
}